@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

@font-face {
    font-family: "Open 24 Display ST";
    src: url(assets/open24displayst.ttf);
}

html,
body,
#root {
    height: 100% !important;
    min-height: 100% !important;
    background-color: #00000000 !important;
}

.message-container,
.magazine-container,
.counter-container {
    min-height: 100px;
    width: 700px;
}

.counter-container {
    background-color: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 24, 82, 1) 100%);
    padding: 0px;
    height: 150px;
    display: flex;
}

.counter-row {
    height: 100%;
    margin: 0px !important;
}

.counter-image,
.counter-content {
    padding: 10px;
    padding-left: 30px;
    height: 100%;
    border-image: url(assets/counter_bg.png);
    border-image-slice: 40;
    border-style: solid;
}

.counter-image {
    padding-left: 20px;
    overflow-wrap: break-word;
    background-size: cover;
    background-position: center;
    border-image-width: 20px 10px 20px 20px;
    width: 30%;
}

.counter-content {
    width: 70%;
    border-image-width: 20px 20px 20px 10px;
}

.message-container {
    background-color: red;
    padding: 0px !important;
}

.magazine-container {
    background-image: url(assets/dicas_revista_bg.png);
    background-position: left top;
    background-size: cover;
}

.magazine-type {
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
}

.message-type {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(100, 60, 138);
    color: white;
    line-height: 0.8;
}

.magazine-text {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
}

.magazine-detail {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

.message-content {
    background-color: #000;
}

.window-title {
    font-size: 11pt;
    background-color: white;
}

.game-title {
    font-size: 32pt;
    color: #fffcd0;
    line-height: 0.8;
}

.game-system {
    font-size: 14pt;
    color: #fffcd0;
}

.neon-text-green {
    font-family: "Open 24 Display ST", Arial, Helvetica, sans-serif;
    color: #3d9e3d;
    font-size: 1.2rem;
    text-shadow:
        /* glow */
        0 0 7px #3d9e3d,
        0 0 10px #3d9e3d,
}

.neon-text-orange {
    font-family: "Open 24 Display ST", Arial, Helvetica, sans-serif;
    color: #e95a36;
    font-size: 1.9rem;
    text-shadow:
        /* glow */
        0 0 7px #e95a36,
        0 0 10px #e95a36,
        0 0 21px #e95a36,
}

.regular-text-white {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: #fff;
}